@media screen and (max-device-width:960px){
  h1 { 
    font-size:36px;
    line-height:42px;
    font-family: 'Times New Roman', "Noto Serif", SimSun, serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:960px){
  h1 { 
    font-size:72px;
    line-height:90px;
    font-family: 'Times New Roman', "Noto Serif", SimSun, serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

rt {
  letter-spacing: 2vw;  
  margin-bottom: .5vw;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}

a {
  transition: 1s;
}

a:link {
  color: #b3b3b3 ;
}

a:visited {
  color: #b3b3b3 ;
}

a:hover {
  color: #666666 
}

#mv-img {
  width: 50vw;
  height: 50vw;
  background-image:url("img.png");
  background-size:120%;
  background-repeat: no-repeat;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}

#bookmark {
  width: 50vw;
  line-height: 1.3rem;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#msg {
  height: 40px;
  letter-spacing: .1rvw;
  padding-top: 9px;
  text-align: center;
  font-size: 22px;
  font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", SimSun, STXihei, sans-serif;
}